.contentContainer {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.edit {
    display: flex;
    flex-direction: column;
    padding: 50px 25px 25px 25px;
    width: 100%;
    max-width: 1650px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editPost {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    padding-bottom: 30px;
    text-align: center;
}

.postForm {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.postForm p {
    margin-bottom: 20px;
}

#id_title,
#id_subtitle,
#id_text,
#id_category {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#id_text {
    resize: vertical;
}

.save {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label[for="id_text"],
label[for="id_category"],
label[for="id_subtitle"] {
    display: block;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
}
