* {
    margin: 0;
    padding: 0;
    border: 0;
}

.pageHeader {
    border-bottom: 1px solid; 
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%; 
    top: 0;
    z-index: 1000; 
    background-color: #fff;
}

.log {
    margin-right: 45px;
}

.authenticated-links {
    display: flex;
}

.authenticated-links a{
    position: relative;
    width: 150px;
    height: 40px;
}

.log a,
.log button {
    position: relative;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 5px 15px;
    text-decoration: none;
    border: none;
    margin-bottom: 5px;
}

.authenticated-links a {
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 5px 15px;
    text-decoration: none;
    margin-bottom: 5px;
}

.pageHeader h1 a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 22px;
    color: #000;
}

.contentContainer {
    padding: 70px 5% 30px; 
    display: flex;
    flex-direction: column;
}
