{% load static %}
<html>
<head>
    <title>Minimalist</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <div class="pageHeader">
        <h1><a href="/">Minimalist</a></h1>
        <div class="log">
            {% if user.is_authenticated %}
                <div class="authenticated-links">
                    <a href="{% url 'postNew' %}" class="top-menu">New Post</a>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu">Login</a>
                <a href="{% url 'register' %}" class="top-menu">Register</a>
            {% endif %}
        </div>
    </div>
    <div class="contentContainer">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
