{% extends 'minimalistApp/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <div class="postList">
    <div class="row">
      <div class="col-md-8">
          {% for post in posts %}
              <a href="{% url 'postDetail' pk=post.pk %}" class="post-link">
                <div class="post" id="post-{{ post.pk }}">
                    <div class="postTitle">
                      <h2>{{ post.title }}</h2>
                    </div>
                    <div class="postSubtitle">
                      <p class="subtitle">{{ post.subtitle }}</p>
                    </div>
                    <div class="categories">
                      {% for category in post.category.all %}
                        <p class="category">{{ category }}</p>
                      {% endfor %}
                    </div>
                    <div class="authorDate"> 
                      <p class="author">{{ post.author }}</p>
                      <p class="date">{{ post.published_date }}</p>
                    </div>
                </div>
              </a>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
