{% extends 'minimalistApp/base.html' %}
{% load static %}

{% block content %}
  <body>
    <link rel="stylesheet" href="{% static 'css/postNew.css' %}">
      <div class="contentContainer">  
        <div class="edit">
          <div class="editPost">
            <h2>New Post</h2>
          </div>
          <form method="POST" class="postForm">{% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="save">Save</button>
          </form>
        </div>
   
      </div>
{% endblock %}